<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <meta charset="utf-8">
    <title></title>
    <script>
      $(document).ready(function() {
        console.log("This script is working!");
        Stripe.setPublishableKey('pk_test_UzTsy4YZ6cwJ5pF2YqbdZDWk');
        });
    </script>
  </head>
  <body>
    <h1> Welcome to The Shopping List Builder!</h1>

    <% @products.each do |product| %>
      <p><input type="radio"
        name= 'productID'
        value= "<%= product['id'] %>"></p>
        <p>ITEM: <%= product['item'] %></p>
        <p>STORE: <%= product['store'] %></p>
        <p>QUANTITY: <%= product['quantity'] %></p>
    <% end %>
    <p id="js-output"> </p>
    <form id="payment-form" action="/pay" method="POST">
      <p><input type="text" name="email" placeholder="email"></p>
      <p><input id="card-number" type="text" placeholder="card number"></p>
      <p><input id="card-exp-month" type="text" placeholder="card expiration month"></p>
      <p><input id="card-exp-year" type="text" placeholder="card expiration year"></p>
      <p><input id="card-cvc" type="text" placeholder="card cvc"></p>

      <button id="pay-now" type="submit">Pay now</button>
    </form>
</html>
