<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<title>Shopping List</title>
<link rel="icon" href="http://icons.iconseeker.com/png/fullsize/sleek-xp-software/notepad-7.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <h1> Here's Your Shopping List!</h1>
<p> <%=@results%>
</p>
</body>
</html>
